# .env.example
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Zmx1ZW50LW1vbmtmaXNoLTc1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_9xW1Sza4BLCYUfeDni6frqdeDxbvCgdL3W9nvhWSyz
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

# AI Models
NEXT_PUBLIC_GEMINI_API_KEY=
DEEPSEEK_API_KEY=
CLERK_WEBHOOK_SECRET=
CALLMEBOT_API_KEY=
CALLMEBOT_PHONE=
